@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@800&display=swap");
.btn-main, .btn-main-toggle, .btn-main-s {
  width: 8.19rem;
  height: 2.32rem;
  border: none;
  border-radius: 4px;
  background-color: #0075FF;
  color: white;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
  height: 1.72rem;
}

.btn-main-toggle {
  background-color: cornflowerblue;
}

.btn-sec, .btn-sec-toggle {
  width: 8.19rem;
  height: 2.32rem;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: black;
  font-weight: 600;
  transition: 0.8s;
}
.btn-sec:hover, .btn-sec-toggle:hover {
  color: #0075FF;
}

.btn-sec-toggle {
  background-color: forestgreen;
}

.icon-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #0075FF;
}

.benefits {
  display: flex;
  flex-direction: column;
}
.benefits .icon {
  color: #0075FF;
  font-size: 4rem;
}
.benefits .description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 20rem;
}
.benefits .description h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.2625rem;
  font-weight: bold;
  color: black;
  line-height: 1.18rem;
  margin-bottom: 1rem;
}
.benefits .description p {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 0.9rem;
}
.benefits .description .cta {
  color: #0075FF;
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: -74px;
  width: 79%;
}

.icon-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-desc .icon {
  font-size: 5rem;
  color: #0075FF;
  margin-bottom: 1rem;
}
.icon-desc h3 {
  font-weight: bold;
  color: black;
  font-size: 1rem;
  margin-top: -3%;
}

body {
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid #e0e0e0;
  height: 3.5rem;
}
header .container .flex-contain {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
}
header .container .flex-contain .logo {
  width: 7rem;
  height: 1.2rem;
}
header .container .flex-contain .login span {
  display: none;
}
header .container .flex-contain .nav-menu {
  display: flex;
}
header .container .flex-contain .nav-menu .toggle {
  display: none;
}
header .container .flex-contain .nav-menu .main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0;
}
header .container .flex-contain .nav-menu .main-menu li {
  list-style: none;
}
header .container .flex-contain .nav-menu .main-menu li a {
  color: #212529;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
  transition: 1s;
}
header .container .flex-contain .nav-menu .main-menu li a:hover {
  color: #0075FF;
  text-decoration: underline;
}
header .container .flex-contain .nav-menu .main-menu li button {
  display: none;
}

section {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.flex-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}
.flex-home .home-cta {
  width: 26rem;
}
.flex-home .home-cta p, .flex-home .home-cta i {
  display: inline;
  color: #0075FF;
  font-weight: bold;
}
.flex-home .home-cta h2 {
  font-family: "Inter", sans-serif;
  color: #212529;
  font-size: 2.2rem;
  font-size: clamp(2.2rem, 1.87rem + 1.6500000000000001vw, 3.85rem);
  font-weight: 500;
  line-height: 4.25rem;
}
.flex-home .home-cta h2 + p {
  color: #212529;
  font-weight: bold;
}
.flex-home .form {
  margin-top: 5%;
}
.flex-home .form input[type=email] {
  width: 16.75rem;
  border-radius: 5px;
  border: 1px solid rgba(61, 60, 60, 0.3);
  transition: 0.5s ease-in;
  padding: 1.4% 0;
}
.flex-home .form input[type=email]:hover {
  border: 1px solid #0075FF;
  box-shadow: 0 0 10px #4a95ecbb;
}

.features .intro, .features .onboarding, .onboarding .intro, .onboarding .onboarding, .features .benefits, .onboarding .benefits, .benefits .intro, .benefits .onboarding, .benefits .benefits {
  text-align: center;
}
.features .intro h3, .features .onboarding h3, .onboarding .intro h3, .onboarding .onboarding h3, .features .benefits h3, .onboarding .benefits h3, .benefits .intro h3, .benefits .onboarding h3, .benefits .benefits h3 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 2% 0 0 0;
}
.features .intro p, .features .onboarding p, .onboarding .intro p, .onboarding .onboarding p, .features .benefits p, .onboarding .benefits p, .benefits .intro p, .benefits .onboarding p, .benefits .benefits p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #bababa;
}
.features .feature-description, .onboarding .feature-description, .benefits .feature-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.features .feature-description .text-feature, .onboarding .feature-description .text-feature, .benefits .feature-description .text-feature {
  flex: 0 1 20rem;
}
.features .feature-description .text-feature ul, .onboarding .feature-description .text-feature ul, .benefits .feature-description .text-feature ul {
  list-style: none;
  display: inline;
}
.features .feature-description .text-feature ul li, .onboarding .feature-description .text-feature ul li, .benefits .feature-description .text-feature ul li {
  display: flex;
  gap: 3%;
}
.features .feature-description .text-feature ul li .text-feature-title, .onboarding .feature-description .text-feature ul li .text-feature-title, .benefits .feature-description .text-feature ul li .text-feature-title {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: #212529;
}
.features .feature-description .text-feature ul li p, .onboarding .feature-description .text-feature ul li p, .benefits .feature-description .text-feature ul li p {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #444141;
}
.features .feature-description .image-feature img, .onboarding .feature-description .image-feature img, .benefits .feature-description .image-feature img {
  max-width: 100%;
}

.benefits {
  height: auto;
  padding: 3% 0 8% 0;
  border: none;
}
.benefits .card-benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.kpi {
  background-color: #0075FF;
  padding: 1% 0;
  height: auto;
}
.kpi .kpi-text {
  color: white;
  text-align: center;
  padding: 0 7%;
}
.kpi .kpi-text .kpi-numbers span {
  font-size: 3rem;
  font-weight: 600;
}
.onboarding {
  height: auto;
  padding: 5% 0;
  text-align: center;
}
.onboarding .onboarding-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
}
.onboarding .onboarding-icons .get-start-icons i {
  color: #0075FF;
  font-size: 5rem;
  line-height: 1rem;
  width: 100%;
}
.onboarding .onboarding-icons .get-start-icons h4 {
  font-size: 1rem;
  color: #212529;
  font-weight: bold;
}
.onboarding .onboarding-icons hr {
  width: 15%;
}

footer {
  background-color: #f5f8ff;
}
footer .flex-footer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .flex-footer .text-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 60%;
  text-align: left;
  padding-left: 15%;
}
footer .flex-footer .text-footer .texts {
  width: 67%;
}
footer .flex-footer .text-footer .texts h3 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
footer .flex-footer .text-footer .texts p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #bababa;
}
footer .flex-footer .img-footer {
  flex: 0 1 40%;
}
footer .flex-footer .img-footer img {
  width: 100%;
}

@media (max-width: 768px) {
  /*Header*/
  header .container .flex-contain {
    padding: 0;
    align-items: center;
  }
  header .container .flex-contain .logo img {
    width: 100%;
  }
  header .container .flex-contain .login {
    display: none;
  }
  header .container .flex-contain .nav-menu {
    order: 3;
    --open: inline-block;
    --close: none;
    --transform-menu: translateX(100%);
  }
  header .container .flex-contain .nav-menu:target {
    --open: none;
    --close: inline-block;
    --transform-menu: translateX(0);
  }
  header .container .flex-contain .nav-menu .toggle {
    display: inline-block;
    z-index: 110;
  }
  header .container .flex-contain .nav-menu .toggle a i {
    font-size: 2rem;
  }
  header .container .flex-contain .nav-menu .toggle #toggle-open {
    display: var(--open);
    color: #0075FF;
    transition: 0.8s all;
  }
  header .container .flex-contain .nav-menu .toggle #toggle-close {
    color: white;
    display: var(--close);
    transition: 0.8s all;
  }
  header .container .flex-contain .nav-menu .main-menu {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    background: #0075FF;
    width: 100vw;
    height: 100vh;
    transform: var(--transform-menu);
    z-index: 100;
  }
  header .container .flex-contain .nav-menu .main-menu li a {
    color: white;
    font-size: 1.5rem;
  }
  header .container .flex-contain .nav-menu .main-menu li button {
    display: inline;
  }

  /*Home*/
  .home {
    background-image: url("../assets/img/home.jpg"), linear-gradient(to bottom, #0d6efd, #7d8efe, #b1b1fe, #dbd7ff, #ffffff);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    background-blend-mode: screen;
  }

  .flex-home .home-cta {
    background: #0075ff24;
    padding: 10% 5%;
  }
  .flex-home .home-cta h2 {
    line-height: 3rem;
    font-weight: bold;
  }
  .flex-home .form input[type=email] {
    width: 90%;
    margin-bottom: 2%;
  }
  .flex-home .home-img {
    display: none;
  }

  /*Benefits*/
  .benefits .description .cta {
    position: relative;
    bottom: -20px;
  }

  /*Onboarding*/
  .onboarding .onboarding-icons .get-start-icons {
    flex: 0 1 20rem;
  }

  /*Footer*/
  footer .flex-footer {
    background-image: url("../assets/img/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  footer .flex-footer .text-footer {
    width: 100%;
    flex: 0 1 90%;
    background: #b2d9d920;
  }
  footer .flex-footer .text-footer .texts {
    width: 100%;
  }
  footer .flex-footer .text-footer .texts p {
    color: rgba(0, 0, 0, 0.6);
  }
  footer .img-footer {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
