@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@800&display=swap');

$font-titles : 'Inter', sans-serif;
$color-main: #0075FF;
$black60: rgba(0, 0, 0, 0.6);
$blac10: rgba(0, 0, 0, 1);

@mixin btn-base{
    width: 8.19rem;
    height: 2.32rem;
    border: none;
    border-radius: 4px;
}

.btn-main{
    @include btn-base();
    background-color: $color-main;
    color: white;  

    &-s{
        @extend .btn-main;
        font-size: 0.75rem;
        padding: 0.1rem 1rem;
        height: 1.72rem;
    }
}
.btn-main-toggle{
    @extend .btn-main;
    background-color: cornflowerblue;
}
.btn-sec{
    @include btn-base();
    background-color: transparent;
    color: black;
    font-weight: 600;
    transition: 0.8s;
    &:hover{
        color: $color-main;
    }  
}
.btn-sec-toggle{
    @extend .btn-sec;
    background-color:forestgreen;
}
.icon-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: $color-main;

}


.benefits{
    display: flex;
    flex-direction: column;
    .icon{
        color:$color-main;
        font-size: 4rem;
    }
    .description{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 20rem;
        h3{
            font-family: $font-titles;
            font-size: 1.2625rem;
            font-weight: bold;
            color: black;
            line-height: 1.18rem;
            margin-bottom: 1rem;
        }
        p{
            color: $black60;
            text-align: center;
            font-size: 0.9rem;
        }
        .cta{
            color: $color-main;
            text-align: center;
            font-size: 0.9rem;
            position: absolute;
            bottom: -74px;
            width: 79%;
        }
    }

}
.icon-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon{
        font-size: 5rem;
        color: $color-main;
        margin-bottom: 1rem ;
    }  
    h3{
        font-weight: bold;
        color: $blac10;
        font-size: 1rem;
        margin-top: -3%;
    }
}