@use "components";
@mixin title-3 {
    font-family: components.$font-titles;
    font-size: 2rem;
    font-weight: bold;    
}
@mixin title-4 {
    font-family: components.$font-titles;
    font-size: 0.8rem;
    font-weight: bold;    
}
@mixin text-mini {
    font-family: components.$font-titles;
    font-size: 0.8rem;     
    font-weight: 400;
}
@mixin subtitles {
    font-family: components.$font-titles;
    font-size: 1rem;
    font-weight: 500;
    color: #bababa;
}
$color-title-2: #212529;
$color-p: #444141;
$footer-color: #f5f8ff;
body{
    padding: 0;
    margin: 0;
}

header{
    border-bottom: 1px solid #e0e0e0;
    height: 3.5rem;
    .container{
        .flex-contain{
            display: flex;
            justify-content: space-between;
            padding-top: 1%;
            .logo{
                width: 7rem;
                height: 1.20rem;
            }
            .nav-menu{
                display: flex;
                .toggle{
                    display: none;
                }
                .main-menu{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    margin-bottom: 0;
                        li{
                            list-style: none;
                            a{
                                color: #212529;
                                font-family: components.$font-titles;
                                font-size: 0.875rem;
                                font-weight: bold;
                                text-decoration: none;
                                transition: 1s;
                                &:hover{
                                    color:components.$color-main;
                                    text-decoration: underline;
                                }
                            }
                        }       
                }
            }
        }
    }
}
section{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}
.flex-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    .home-cta{
        width: 26rem;
        p, i{
            display: inline;
            color: components.$color-main;
            font-weight: bold;
        }
        h2{
            font-family: components.$font-titles;
            color: $color-title-2;
            font-size: 2.2rem;
            font-size: clamp(2.2rem, 1.87rem + 1.6500000000000001vw, 3.85rem);
            font-weight: 500;
            line-height: 4.25rem;
         }
         h2+p{
            color: $color-title-2;
            font-weight: bold;
         }
    }
    .form{
        margin-top: 5%;
         input[type="email"]{
            width: 16.75rem;
            border-radius: 5px;
            border: 1px solid rgba(61, 60, 60, 0.3);
            transition: 0.5s ease-in;
            padding: 1.4% 0;
            &:hover{
                border: 1px solid components.$color-main;
                box-shadow: 0 0 10px #4a95ecbb;
            }
        }

    }    
}
.features{
    .intro{
        text-align: center; 
        h3{
            @include title-3();
            padding: 2% 0 0 0;
        } 
        p{
            @include subtitles();
        }      
    }
    .feature-description{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .text-feature{
            flex: 0 1 20rem;
            ul{
                list-style: none;
                display: inline;
                li{
                    display: flex;
                    gap: 3%;
                    .text-feature-title{
                        @include title-4();
                        color: $color-title-2;
                    }
                    p{
                        @include text-mini();
                        color: $color-p;
                    }
                }
            }
        }
        .image-feature{
            img{
                max-width: 100%;
            }
        }
    }
}
.benefits{
    height: auto;
    padding: 3% 0 8% 0;
    border: none;
    @extend .features, .intro;
    .card-benefits{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.kpi{
    background-color: components.$color-main;
    padding: 1% 0;
    height: auto;
    .kpi-text{
        color: white;
        text-align: center;
        padding: 0 7%;
        .kpi-numbers{
            span{
                font-size: 3rem;
                font-weight: 600;
            }
            p{
    
            }
        }
    }
}
.onboarding{
    @extend .features, .intro;
    height: auto;
    padding: 5% 0;
    text-align: center;
    .onboarding-icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 5%;
        width: 80%;
        margin: 0 auto;
        padding-top: 5%;
        .get-start-icons{
            i{
                color: components.$color-main;
                font-size: 5rem;
                line-height: 1rem;
                width: 100%;
                
            }
            h4{
                font-size: 1rem;
                color: $color-title-2;
                font-weight: bold;
            }
        }
        hr{
            width: 15%;
        }
    }
}
footer{
    background-color: $footer-color;
    .flex-footer{
        position: relative;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        .text-footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 0 1 60%;
            text-align: left;
            padding-left: 15%;
            .texts{
                width: 67%;
                h3{
                    @include title-3();
                }
                p{
                    @include subtitles();
                }
            }
        }
        .img-footer{
            flex: 0 1 40%;
            img{
                width: 100%;
            }
        }
    }
}
@media (max-width: 768px){
    /*Header*/
    header{
        .container{
            .flex-contain{
                .nav-menu {
                    order: 3;
                    --open: inline-block;
                    --close: none;                    
                    --transform-menu: translateX(100%); 
                    &:target{
                        --open: none;
                        --close: inline-block;
                        --transform-menu: translateX(0);
                    }                  
                    .toggle{
                        display: inline-block;
                        z-index: 110;
                        a i{
                            font-size: 2rem;
                        }
                        #toggle-open{
                            display: var(--open);
                            color: components.$color-main;                            
                            transition: .8s all;                            
                        }
                        #toggle-close{
                            color: white;
                            display: var(--close);
                            transition: .8s all;
                        }
                    }
                    .main-menu{
                        position: fixed;
                        top: 0;
                        right: 0;
                        flex-direction: column;
                        background: components.$color-main;
                        width: 100vw;
                        height: 100vh;
                        transform: var(--transform-menu);
                        z-index: 100;
                        li a{
                            color: white;
                            font-size: 1.5rem;
                        }
                    }
                } 
            } 
        }         
    }
    /*Home*/
    .home{
        background-image: url('../assets/img/home.jpg'), linear-gradient(to bottom, #0d6efd, #7d8efe, #b1b1fe, #dbd7ff, #ffffff);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        background-blend-mode:screen;
    }
    .flex-home{
        .home-cta{
            background: #8080803b;
            padding: 10% 0;
        }
        .home-cta h2 {
            line-height: 3rem;
            font-weight: bold;
        } 
        .form input[type="email"] {
            width: 90%;
            margin-bottom: 2%;
        }  
        .home-img{
            display: none;
        }   
    }
/*Benefits*/
.benefits{
    .description{
            .cta{
                position: relative;
                bottom: -20px;
            }
        }      
    }
    /*Onboarding*/
    .onboarding {
        .onboarding-icons{
            .get-start-icons {
                flex: 0 1 20rem;
              }
        }
    }
    /*Footer*/
    footer{
        .flex-footer{
            background-image: url('../assets/img/bg.png');
            background-repeat: no-repeat;
            background-size: contain;
            .text-footer {
                width: 100%;
                flex: 0 1 90%;
                background: #b2d9d920;
                .texts{
                    width: 100%;
                }
                .texts p{
                    color: components.$black60;
                }
            } 
        }
        .img-footer {
            display: none;
        }  
    } 
}      